* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  /* .navbar {
    overflow: hidden;
    background-color: rgb(247,248,247);
    font-family: Arial, Helvetica, sans-serif;
    height: 65px;
    margin: auto;
   
  }
   */
   button a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-family:  ProximaNova-Semibold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
   
  }
  .navbar>div{
    margin: auto;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    
    background-color: inherit;
    font: inherit;
    margin: auto;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color: blue;
  }
 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    padding: 15px;
    left:0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* .dropdown-content .header {
    background: white;
    padding: 16px;
    color: black;
  } */
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    background-color:white;
    margin-left: 60px;
    padding: 10px ;
    
  }
  
  .column a {
    float: none;
    color: gray;
    margin:0px;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 3px 4px;
    font-size: 13px;
    font-family:  ProximaNova-Semibold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  }
  
 /* .column a:hover {
    background-color: #ddd;
  }
  
   Clear floats after the columns 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }*/
 

  #main{
         
    display: flex;
    justify-content: left;
    text-align: left;
    overflow: hidden;
    background-color: rgb(247,248,247);
    font-family:  ProximaNova-Semibold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    height: 65px;
    margin: auto;
    width: 90%;
    font-weight: bold;
}
#search{
    display: flex;
    margin: auto;
    
    
}
#search input{
    width: 350px;
    padding: 10px;
    background-color: rgb(236,237,235);
    border: none;
}

.dropbtnMore1 {
    background-color: rgb(247,248,247);
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    
   
   
    }
    .dropbtnMore1:hover{
        color: blue;
    }

    .dropdownMore1 {
    position: relative;
    display: inline-block;
    margin: auto;
    background-color: white;
    font-family:  ProximaNova-Semibold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
     
    }
                
    .dropdown-contentMore1 {
    display: none;
    position: absolute;
    font-family:  ProximaNova-Semibold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    
    color: black;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    z-index: 1;
    }

    .dropdown-contentMore1 a {
        color: black;
    padding: 16px 18px;
    text-decoration: none;
    display: block;
    }

    .dropdown-contentMore1 a:hover {background-color: #f1f1f1}

    .dropdownMore1:hover .dropdown-contentMore1 {
    display: block;
    }

    .dropdownMore1:hover .dropbtnMore1 {
        background-color: transparent;

    }
    #header1{
        display: flex;
        
        justify-content: left;
        text-align: left;
        width: 100%;
        background-color: rgb(247,248,247);
        
        
    }
   
   
    #topblack{
      width: 100%;
     height: 40px;
      margin: auto;
      background-color: black;
      display: flex;
  }
  #topblack div{
      margin: 10px;
      
  }
  #topblack div a{
      
      text-decoration: none;
      font-family:  ProximaNova-Semibold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
      color: white;
     
      padding: 5px;
      margin-top: 10px;
      justify-content: center;
      text-align: center;
      font-size: 13px;
 }
 
 #topblack>div:nth-child(1){
     
      width: 50%;
      margin: auto;
      margin-left: 30px;
  }
  #topblack>div:nth-child(2) {
     
      width: 50%;
      text-align: right;
      margin: auto;
      margin-right: 30px;
     

 }
#footer{
  width: 100%;
}
#footer img{
  width: 100%;
}
#dirlink{
  border: 2px solid red;
  height: 100px;
}
.column1 {
  float: left;
  background-color:white;
  margin-left: 60px;
  margin-right: 100px;
  padding: 10px ;
  
}
 .column1 a {
  float: none;
  color: gray;
  margin:0px;
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 6px 4px;
  font-size: 15px;
  font-family:  ProximaNova-Semibold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
#Abo>div{
  display: block;
}

#topblack{
  width: 100%;
 height: 40px;
  margin: auto;
  background-color: black;
  display: flex;
}
#topblack div{
  margin: 10px;
  
}
#topblack div a{
  
  text-decoration: none;
  font-family:  ProximaNova-Semibold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  color: white;
 
  padding: 5px;
  margin-top: 10px;
  justify-content: center;
  text-align: center;
  font-size: 13px;
}

#topblack>div:nth-child(1){
 
  width: 50%;
  margin: auto;
  margin-left: 30px;
}
#topblack>div:nth-child(2) {
 
  width: 50%;
  text-align: right;
  margin: auto;
  margin-right: 30px;
 

}

.crauser {
  width: 85%;
  margin:auto;
  position: relative;
  margin-top:10px;
}

.crauser>img {
  width: 100%;
}

.crauser>button {
  position: absolute;
  top: 250px;
  background-color: transparent;
  border-radius: 100%;
  color:black;
  font-size: 30px;
  width:50px;
  height: 50px;
  outline: none;
  border:none;

}

.crauser>button:nth-child(2) {
  left: -5%;
}

.crauser>button:nth-child(3) {
  right: -5%;
}
#shoppost{
  width: 80%;
  display: flex;
  
  margin-left: auto;
  margin-right: auto;

}

#shoppost>div>a>img{
  width: 300px;
  
}
